.footer_container {
    display: flex;
}

.footer_container>div {
    flex: 1;
}

.footer_address {
    font-size: 15px;
}

.footer_address_logo {
    font-size: 25px;
    color: rgba(55, 81, 126, 255);
    font-family: 'Jost', sans-serif;
    font-weight: bold;
}

.footer_title {
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    color: rgba(55, 81, 126, 255);
}

.footer_links div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 15px;
}

.footer_links i {
    color: rgba(139, 206, 238, 255);
}

.footer_links a {
    text-decoration: none;
    color: rgba(125, 125, 125, 255);
}

.footer_links a:hover {
    text-decoration: underline;
    color: rgba(125, 125, 125, 255);
}

.footer_socialMedia a {
    text-decoration: none;
    color: white;
    margin-right: 8px;
}

.footer_socialMedia i {
    color: white;
    background-color: rgba(71, 178, 228, 255);
}

@media screen and (max-width: 992px) {

    .footer_container {
        display: block;
        max-width: 620px;
    }

    .footer_container>div {
        margin-bottom: 40px;
    }

}