body {
    background-color: rgb(130, 117, 226);
    font-size: 30px;
}

.header {
    background-color: skyblue;
    height: 15vh;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    margin: 15px;
}

.container .box1 {
    width: 20%;
    height: 40vh;
    margin-right: 15px;
}

.container .box2 {
    width: 80%;
    height: 40vh;
}

.box1 .menu {
    background-color: skyblue;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2 .content{
    display: flex;
    height: 47.5%;
    margin-bottom: 15px;
}

.content .main {
    background-color: skyblue;
    flex: 1.3;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .right {
    background-color: skyblue;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2 .footer {
    background-color: skyblue;
    height: 47.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .box2 .content {
        flex-direction: column;
    }
    .content .main{
        width: 100%;
        margin-bottom: 7.5px;
        flex: 1;
    }
    .content .right{
        width: 100%;
        margin-top: 7.5px;
        flex: 1;
    }
}

@media screen and (max-width: 600px) {
    .container {
        flex-wrap: wrap;
    }
    .container .box1 {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .container .box2 {
        width: 100%;
    }

}